<h2>Edit Your Recipe</h2>
<form action="/recipes/<%=@recipe.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<h3>Recipe Name: <input type="text" name="name" value="<%= @recipe.name %>"> </h3>
<h3>Ingredients: <textarea name="ingredients"><%= @recipe.ingredients %></textarea> </h3>
<h3>Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></h3>
<input type="submit" value="Edit">
</form>